{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- <link href="{% static "css/base.css" %}" rel="stylesheet"> -->
</head>
<body>
    <div id="header">
        <span class="logo"><a href="{% url 'quizzes:quiz_list' %}">Tester</a></span>

        <!-- <span>Tests</span> -->
        <span><a href="{% url 'users:user_list' %}">Users</a></span>

        {% if request.user.is_authenticated %}
            <span><a
                href="{% url 'users:profile' request.user.id %}"                
                style="border-style: solid; border-color:{{ request.user.color.value }};"
            >
                {{ request.user.username }}
            </a></span>
            <span><a href="{% url 'users:logout' %}">Logout</a></span>
        {% else %}
            <span><a href="{% url 'users:register' %}">Register</a></span>
            <span><a href="{% url 'users:login' %}">Login</a></span>
        {% endif %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
