{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- <link href="{% static "css/base.css" %}" rel="stylesheet"> -->
    <link href="{% static 'css/base2.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo"><a href="{% url 'quizzes:quiz_list' %}">Quizzer</a></span>

        {% if request.user.is_authenticated %}
            <span class="user"><a href="{% url 'users:logout' %}"> Logout </a></span>
            <!-- <span class="user"> | </span> -->
            <span class="user"><a
                href="{% url 'users:profile' request.user.id %}"                
                style="
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 10%;
                    border-color:{{ request.user.color.value }};"
            >
                {{ request.user.username }}
            </a></span>
        {% else %}
            <span class="user"><a href="{% url 'users:login' %}"> Login </a></span>
            <!-- <span class="user"> | </span> -->
            <span class="user"><a href="{% url 'users:register' %}"> Register </a></span>
            <!-- <span>guest</span> -->
        {% endif %}
        <!-- <span>Tests</span> -->
        <span class="user"><a href="{% url 'users:user_list' %}"> Users </a></span>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
