<div class="paginator">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <!-- This isn't good. If there will be a huge amount of pages, this will be bad -->
        {% if page_obj.paginator.num_pages > 1 %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <span class="current">{{ page_obj.number }}</span>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
