@import url(//fonts.googleapis.com/css?family=Muli);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

p {
    line-height: 1.8;
}

a {
    color: steelblue;
    text-decoration:none;
}

a:hover {
    color: rgb(50, 100, 140);
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Muli', sans-serif;
    font-weight:normal;
}

h1 {
    /* border-bottom:1px solid #bbb; */
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}

h2 {
    margin:30px 0 20px;
}

ol {
    line-height:1.5;
}

.message {
    color: rgb(216, 58, 58);
}

#header {
    padding:10px 100px;
    font-size:14px;
    background: steelblue;
    color:#fff;
    border-bottom:4px solid rgb(100, 150, 200);
    overflow:auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color:#f3f7cc;
    font-size:20px;
    margin-right:10%;
}

#header a {
    color:#f3f7cc;
}

#header a:hover {
    color:#fff;
}

#header .user {
    float:right;
    padding-top:4px;
    margin: 5px;
    /* padding: 5px; */
    /* position: relative; */
    /* position-anchor: ; */
}

#content {
    padding:30px 100px;
}


/* forms */

form {
    overflow:auto;
}

form p {
    width:100%;
    overflow:auto;
}

.login-form {
    float:left;
}

label {
    float:left;
    /* clear:both; */
    color:#333;
    margin-bottom:4px;
}

input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#efefef;
    border:0;
    padding:6px 10px;
    font-size:14px;
}

.submit-button,
input[type=submit], a.button {
    font-weight:bold;
    background: steelblue;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;

    border-width: 0px; /* for button */
}
