{% extends 'base.html' %}

{% load quizzes_tags %}

{% block title %}Tester{% endblock %}

{% block content %}
    <h1>Quizzes</h1>
    <hr>
    <!-- { for quiz in object_list } -->
    {% for quiz in page_obj %}
        <div>
            <a href="{% url 'quizzes:quiz' quiz.pk %}">
                <strong>{{ quiz.title }}</strong> 
                (points: {{ quiz.points }}, questions: {{ quiz.number_of_questions }})
            </a>

            {% if request.user.is_authenticated %}
                {% is_quiz_passed_by_user quiz.id request.user as is_passed %}
                {% if is_passed %}
                    {% user_score_for_quiz request.user quiz.id as user_score %}
                    <strong>(passed, your score: {{ user_score }})</strong>
                {% endif %}
            {% endif %}

            <p>{{ quiz.description }}</p>
        </div>
        <hr>
    {% empty %}
        There are no quizzes yet..
    {% endfor %}

    {% include "paginator.html" with page_obj=page_obj %}

{% endblock %}
