{% extends 'base.html' %}

{% block title %}Quiz {{ object.title }}{% endblock %}

{% block content %}
    <h1>Quiz {{ object.title }}</h1>

    
    {% if request.user.is_authenticated %}
        <!-- <form action="{ url 'quizzes:submit_quiz' object.pk request.user.pk }" method="post"> -->
        <form action="{% url 'quizzes:quiz' object.pk %}" method="post">
        {% csrf_token %}
    {% endif %}
        
        {% for question in object.questions.all %}
            <!-- <div> -->
            <fieldset>
                <legend><strong>{{ forloop.counter }}) {{ question.text }}</strong></legend>

                {% for answer in question.answers.all %}
                
                    <div>
                    <!-- <p> -->
                        <input 
                            type="radio"
                            id="question{{ forloop.counter }}"
                            name="{{ question.id }}"
                            value="{{ answer.id }}">
                        <label for="question{{ forloop.counter }}">{{ answer.text }}</label>
                    <!-- </p> -->
                    </div>
                    <!-- <br> -->

                {% empty %}
                    There are no choises..
                {% endfor %}
            </fieldset>
            <!-- </div> -->
            <!-- <hr> -->
        {% empty %}
            There are no quizzes yet..
        {% endfor %}


    {% if request.user.is_authenticated %}
        <!-- <button>Submit</button> -->
        <input type="submit" value="Submit">
        </form>
    {% endif %}

{% endblock %}

    