{% extends 'base.html' %}

{% block title %}
    Quiz "{{ object.title }}" {% if is_passed %}(result){% endif %}
{% endblock %}

{% block content %}
    <!-- <h1>Quiz "{ object.title }" { if is_passed }(result){ endif }</h1> -->
    <h1>
        {% if is_passed %}
            Your results of quiz "{{ object.title }}"
        {% else %}
            Quiz "{{ object.title }}"
        {% endif %}
    </h1>
    
    <p><i>Description:</i> {{ object.description }}</p>
    <p><i>Total points:</i> {{ object.points }}</p>

    {% if not is_passed %}
        <form action="{% url 'quizzes:quiz' object.pk %}" method="post">
        {% csrf_token %}
    {% endif %}

        {% for question in object.questions.all %}
            <fieldset {% if is_passed %}disabled{% endif %}>
                <legend><strong>
                    {{ forloop.counter }}) "{{ question.text }}" (points: {{ question.points }})
                </strong></legend>

                {% for answer in question.answers.all %}
                    <!-- { with is_passed and answer in answers as is_user_answer } -->
                    <input
                        {% if is_passed and answer in answers %}
                            checked="checked"
                        {% endif %}
                        type="radio"
                        id="question{{ answer.id }}"
                        name="{{ question.id }}"
                        value="{{ answer.id }}">
                    <label
                        {% if is_passed and answer in answers and not answer.is_correct %}
                            style="background-color: rgb(238, 89, 89);"
                        {% endif %}
                        {% if is_passed and answer.is_correct %}
                            style="background-color: rgb(195, 255, 106);"
                        {% endif %}
                        for="question{{ answer.id }}"
                    >
                        {{ answer.text }}
                        {% if is_passed and answer in answers %}
                            (your choise is
                            {% if not answer.is_correct %}not{% endif %}
                            correct)
                        {% endif %}
                    </label>
                    <!-- { endwith } -->
                {% empty %}
                    There are no choises..
                {% endfor %}
            </fieldset>
        {% empty %}
            There are no questions yet..
        {% endfor %}


    {% if not is_passed %}
        <!-- <input type="submit" value="Submit"> -->
        <button type="submit" class="submit-button">Submit</button>
        </form>
    {% else %}
        <div><h2>
            Your score: {{ score }}
        </h2></div>
    {% endif %}

{% endblock %}
