{% extends "base.html" %}

{% block title %}Colors{% endblock %}

{% block content %}
    <h1>Colors shop</h1>
    <p>
        Your balance: {{ request.user.balance }}
    </p>
    {% if message %}
        <h3 style="color:rgb(216, 58, 58)">{{ message }}</h3>
    {% endif %}

    {% if object_list %}
        <form method="post" action="{% url 'users:colors' %}">
            {% csrf_token %}
            <!-- <ul> -->
            {% for color in object_list %}
                <!-- <li> -->
                <div>
                    <button
                        type="submit"
                        class="submit-button2"
                        name="color_id"
                        value="{{ color.id }}"
                        
                        {% if request.user.is_authenticated and color in request.user.colors.all %}
                            disabled
                        {% endif %}
                    >
                        buy
                    </button>
                        
                    Color: 
                    <span style="
                        color: {{ color.value }};
                        background-color: {{ color.value }};
                        border-style: solid;
                        border-color: black;
                        border-width: 1px;"
                    >
                        color
                    </span>
                    {{ color.name }}, 
                    price: {{ color.price }}
                </div>
                <!-- </li> -->
            {% endfor %}
            <!-- </ul> -->

            <!-- <br>
            <button type="submit" class="submit-button">Buy</button> -->
        </form>
    {% else %}
        There are no colors yet.
    {% endif %}
    
    <!-- <a href="{ url 'users:profile' request.user.pk  }">Go to profile</a> -->
{% endblock %}
