{% extends "base.html" %}

{% block title %}{{ request.user.username }} profile{% endblock %}

{% block content %}
    <h1>Hello, {{ request.user.username }}</h1>
    
    <p>Passed tests: {{ request.user.passed_tests_number }}</p>
    <p>Balance: {{ request.user.balance }}</p>

    <!-- <form method="post"> -->

        <!-- <p>Color: <a href="#">{{ request.user.color }}</a></p> -->

        <p>
            <!-- Color: -->
            {% if object.colors.all %}
                <form action="{% url 'users:change_color' %}" method="post">
                    {% csrf_token %}
                    Color: 
                    <select type="submit" onchange="this.form.submit()" name="choice">
                        {% for color in object.colors.all %}
                            <option value="{{ color.value }}" 
                                {% if object.color.pk == color.pk %}selected{% endif %}>
                                {{ color.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <!-- <input type="submit" value="Change color"> -->
                </form>
            {% else %}
                Color: 
                <select>
                    <option value="0">no colors</option>
                </select>
            {% endif %}
            
        </p>

        
        <!-- <input type="submit" value="Отправить" /> -->

    <!-- </form> -->

    <p><a href="{% url 'users:colors' %}">Buy colors</a></p>
    <!-- <p><a href="">Change password</a></p> -->
    <!-- <p><a href="{ url 'users:passed_quizzes' }">Passed quzzes</a></p> -->
    <p><a href="{% url 'users:logout' %}">Logout</a></p>

{% endblock %}