{% extends "base.html" %}

{% block title %}{{ request.user.username }} profile{% endblock %}

{% block content %}
    <h1>Welcome, {{ request.user.username }}</h1>
    
    <p>
        <!-- <a href="{ url 'users:passed_quizzes' }"> -->
            Passed quizzes: {{ request.user.passed_quizzes_count }}
        <!-- </a> -->
    </p>

    <p>Points: {{ request.user.total_points }}</p>
    <p>Balance: {{ request.user.balance }}</p>

        <p>
            {% if object.colors.all %}
                <form action="{% url 'users:profile' request.user.id %}" method="post">
                    {% csrf_token %}
                    Color: 
                    <select type="submit" onchange="this.form.submit()" name="choice"
                        style="background-color: {{ request.user.color.value }};"
                    >
                        {% for color in object.colors.all %}
                            <option
                                value="{{ color.pk }}" 
                                style="background-color: {{ color.value }};"
                                {% if object.color.pk == color.pk %}selected{% endif %}>
                                {{ color.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <!-- <button type="submit" class="submit-button2">apply</button> -->
                </form>
            {% else %}
                Color: 
                <select>
                    <option value="0">no colors</option>
                </select>
            {% endif %}
            
        </p>


    <p><a href="{% url 'users:colors' %}">Buy colors</a></p>
    <!-- <p><a href="">Change password</a></p> -->
    <p><a href="{% url 'users:logout' %}">Logout</a></p>

{% endblock %}