{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <h1>User</h1>
    <p>
        Number of users: {{ object_list|length }}
    </p>
    {% if object_list %}
        {% for user in object_list %}
            <div style="border-style: solid; border-color: {{ user.color.value }};">
                User: {{ user.username }}, 
                passed quizzes: {{ user.passed_quizzes|length }}, 
                total points: {{ user.total_points }}
            </div>
        {% endfor %}
    {% else %}
        There are no users yet.
    {% endif %}
    
    <a href="{% url 'quizzes:quiz_list' %}">Go to quizzes</a>
{% endblock %}
