{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <h1>Users</h1>
    <p>
        Number of users: {{ object_list|length }}
    </p>
    {% if object_list %}
        {% for user in page_obj %}
            <p>
                <strong style="
                    border-style: solid;
                    border-width: 2px;
                    border-color: {{ user.color.value }};"
                >
                    {{ user.username }}
                </strong>
                passed quizzes: {{ user.passed_quizzes|length }}, 
                total points: {{ user.total_points }}
            </p>
        {% endfor %}
    {% else %}
        There are no users yet.
    {% endif %}

    {% include "paginator2.html" with page=page_obj %}
    
    <br><a href="{% url 'quizzes:quiz_list' %}">Go to quizzes</a>
{% endblock %}
