{% extends "base.html" %}

{% block title %}Colors{% endblock %}

{% block content %}
    <h1>Colors shop</h1>
    <h3>Your balance: {{ request.user.balance }}</h3>

    {% if message %}
        <h3 class="message">{{ message }}</h3>
    {% endif %}

    {% if page_obj %}
        <form method="post" action="{% url 'shop:colors' %}">
            {% csrf_token %}
            {% for color in page_obj %}
                <div>
                    <button
                        type="submit"
                        class="submit-button2"
                        name="color_id"
                        value="{{ color.id }}"
                        
                        {% if request.user.is_authenticated and color in request.user.colors.all %}
                            disabled
                        {% endif %}
                    >
                        buy
                    </button>
                        
                    <!-- Color:  -->
                    <span style="
                        color: {{ color.value }};
                        background-color: {{ color.value }};
                        border-style: solid;
                        border-color: black;
                        border-width: 1px;"
                    >
                        COLOR
                    </span>
                    {{ color.name }}, 
                    price: <strong>{{ color.price }}</strong>
                </div>
            {% endfor %}
            
            <!-- <br><button type="submit" class="submit-button">Buy</button> -->
        </form>
    {% else %}
        There are no colors yet.
    {% endif %}

    <br>
    {% include "paginator2.html" with page=page_obj %}
    
    <br><a href="{% url 'users:profile' request.user.pk  %}">Go to profile</a>
{% endblock %}
